[Desktop Entry]
Version=1.0
Type=Application
Name=Mote Light Painting
Comment=
Exec=/home/matthew/mote_light_painting/start.sh
Icon=desktop-effects
Path=/home/matthew/mote_light_painting
Terminal=false
StartupNotify=false
